# Backend local
PORT=9001
BACKEND_PORT=9001
JWT_SECRET=secret
FRONTEND_URL=http://localhost:9000,http://localhost:9002
TRACKING_FRONTEND_URL=http://localhost:9002
COOKIE_DOMAIN=comunidadcampesina-asia.com

# RENIEC provider selection: codart | decolecta
RENIEC_PROVIDER=codart

# Codart RENIEC
RENIEC_CODART_TOKEN=RENIEC_TOKEN
RENIEC_CODART_URL=https://api-codart.cgrt.org/api/v1/consultas/reniec/dni/

# Decolecta RENIEC
RENIEC_DECOLECTA_TOKEN=RENIEC_TOKEN
RENIEC_DECOLECTA_URL=https://api.decolecta.com/v1/reniec/dni?numero=

# Seeds / sync
API_BASE_URL=http://localhost:9001
SEED_LOGIN_USERNAME=username
SEED_LOGIN_PASSWORD=password
SEED_IMPORTED_USER_PASSWORD=password
FORCE_SEEDS=false

# PostgreSQL / Docker Compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=comunidad_campesina_asia_db
POSTGRES_PORT=5432

# Prisma
DATABASE_URL=postgresql://postgres:12345@localhost:5432/comunidad_campesina_asia_db?schema=public

# Test
BACKEND_TEST_PORT=9101
POSTGRES_TEST_PORT=5433
POSTGRES_USER_TEST=postgres
POSTGRES_PASSWORD_TEST=12345
POSTGRES_DB_TEST=comunidad_campesina_asia_test
JWT_SECRET_TEST=test-secret
FRONTEND_URL_TEST=http://127.0.0.1:9100,http://127.0.0.1:9102
TRACKING_FRONTEND_URL_TEST=http://127.0.0.1:9102
RENIEC_PROVIDER_TEST=codart
RENIEC_CODART_TOKEN_TEST=
RENIEC_CODART_URL_TEST=https://api-codart.cgrt.org/api/v1/consultas/reniec/dni/
RENIEC_DECOLECTA_TOKEN_TEST=
RENIEC_DECOLECTA_URL_TEST=https://api.decolecta.com/v1/reniec/dni?numero=
API_BASE_URL_TEST=http://host.docker.internal:9001
BEARER_TOKEN_TEST=
SEED_LOGIN_USERNAME_TEST=pierols
SEED_LOGIN_PASSWORD_TEST=123456
SEED_IMPORTED_USER_PASSWORD_TEST=123456
FORCE_SEEDS_TEST=true
