# Backend
BACKEND_PORT=9001
JWT_SECRET=secret
FRONTEND_URL=http://localhost:9000
RENIEC_TOKEN=RENIEC_TOKEN
API_RENIEC_DNI=API_RENIEC_DNI

# External API
API_BASE_URL=API_BASE_UR
BEARER_TOKEN=BEARER_TOKEN

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=comunidad_campesina_asia_db
POSTGRES_PORT=5432
